/* Custom styles for Leaflet marker clusters */
.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
    background-color: rgb(2, 28, 69) !important;
    border-radius: 50% !important;
}

.marker-cluster-small div,
.marker-cluster-medium div,
.marker-cluster-large div {
    background-color: transparent !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 16px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 50% !important;
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 50%;
}